body{
    background-color: aliceblue;
}

/* .conteinerModal{
    background-color: whitesmoke;
    width: 400px;
    height: 400px;
    position: absolute;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.titulo{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.X{
    color: whitesmoke;
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 80px;
}

.O{
    color: whitesmoke;
    background-color: blue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 80px;
}

.textAjusting1{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box{
    background-color: grey;
    width: 120px;
    height: 120px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.conteinerHeader{
    display: flex;
    justify-content: center;
}

.span{
    font-size: 80px;
}

.btnReiniciar{
    margin-top: 5px;
    font-size: 20px;
    padding: 15px;
    background-color: green;
    color: aliceblue;
    border: none;
    cursor: pointer;
    border-radius: 10%;
}

.Header{
    display: flex;
    width: 400px;
    flex-wrap: wrap;

}